
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>EVA</title>
    <link rel="icon" href="/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <!-- themify CSS -->
    <link rel="stylesheet" href="/css/themify-icons.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/css/flaticon.css">
    <!-- magnific popup CSS -->
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <!-- nice select CSS -->
    <link rel="stylesheet" href="/css/nice-select.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>


    <!--::header part start::-->
    @Html.Partial("_Header")
    <!-- Header part end-->



    @RenderBody()

    <!-- banner part start-->
    
    <!-- banner part start-->

    <!-- feature_part start-->
    
    <!-- feature_part start-->
    <!-- our_ability part start-->
 
    <!-- our_ability part end-->
    <!-- top_service part start-->

    <!-- top_service part end-->
    <!--::review_part start::-->
    
    <!--::review_part end::-->
    <!--::doctor_part start::-->
    
    <!--::doctor_part end::-->
    <!-- intro_video_bg start-->
    
    <!-- intro_video_bg part start-->
    <!-- footer part start-->
    @Html.Partial("_Footer")
    <!-- footer part end-->
    <!-- jquery plugins here-->

    <script src="/js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="/js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="/js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="/js/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <!-- swiper js -->
    <script src="/js/slick.min.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <!-- contact js -->
    <script src="/js/jquery.ajaxchimp.min.js"></script>
    <script src="/js/jquery.form.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/mail-script.js"></script>
    <script src="/js/contact.js"></script>
    <!-- custom js -->
    <script src="/js/custom.js"></script>
</body>

</html>

